section {
    border: 1px solid lightgray;
    box-shadow: 1px 4px 4px 0 rgba(30, 30, 30, 0.5);
}

img {
    display: inline-block;
    max-width: 32px;
    height: auto;
    margin-right: 3%;
}

img:hover {
    cursor: pointer;
}

span img {
    max-width: 52px;
}