<section class="container-md mt-3">
    <form class="p-3" #form="ngForm" (ngSubmit)="saveSchool(form)">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="schoolForm.name" name="name" required #name="ngModel">
            <small class="text-danger" *ngIf="name.invalid && name.touched">Name is required</small>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 mb-3">
                <label for="city" class="form-label">City:</label>
                <input type="text" class="form-control" id="city" [(ngModel)]="schoolForm.city" required name="city" #city="ngModel">
                <small class="text-danger" *ngIf="city.invalid && city.touched">Name is required</small>
            </div>
            <div class="col-md-6 col-sm-12 mb-3">
                <label for="zipcode" class="form-label">Zipcode:</label>
                <input type="number" class="form-control" id="zipcode" [(ngModel)]="schoolForm.zipcode" required name="zipcode" #zipcode="ngModel">
                <small class="text-danger" *ngIf="zipcode.invalid && zipcode.touched">Zipcode is required</small>
            </div>
        </div>

        <div class="mb-3">
            <label for="street" class="form-label">Street:</label>
            <input type="text" class="form-control" id="street" [(ngModel)]="schoolForm.street" required name="street" #street="ngModel">
            <small class="text-danger" *ngIf="street.invalid && street.touched">Street with numbers is required</small>
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>

</section>